@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html, body{
	max-width: 100%;
	overflow-x: hidden;
}

*{
	margin:0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:400;
	color:#000;
}
ul{list-style-type:none;}
a{text-decoration:none;}

body{
	overflow-x:hidden;
}

.clear{clear:both;}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

/* ===== header ===== */
header{
	width:100%;
	padding:0.5% 0;
	position:absolute;
	z-index:100;
}

.h_inner{
	margin:0 13.8%;
}
.ham{
	cursor:pointer;
	width:2.5%;
	height:auto;
	float:left;
	margin-top:2.6%;
}
.ham img{
	width:100%;
	height:100%;
}

.mainlogo{
	float:left;
	margin-left:calc(50% - 7%);
	margin-top:1.6%;
	width:10%;
	height:auto;
}
.mainlogo img{
	width:100%;
	height:100%;
}

#lang{
	float:right;
	margin-top:2.5%;
}
#lang li{
	float:left;
	margin-left:25px;
	width:40px;
}
#lang li a{
	color:rgba(255,255,255,0.5);
	font-weight:300;
	font-size:1vw;
	display:block;
	text-align:center;
}
#lang li a:hover{
	text-decoration:underline;
}
#lang li.lang_on a{
	color:#fff;
	font-weight:500;
}
#lang li:first-child{
	position:relative;
	
}
#lang li:first-child::after{
	content:"";
	display:block;
	position:absolute;
	top:27%;
	left:130%;
	width:1px;
	height:54%;
	background-color:#fff;
}

/* ===== mainmenu ===== */
#mainmenu{
	position:fixed;
	width:100%;
	height:100%;
	z-index:200;
	background:url("../img/menubg.png") no-repeat;
	background-size:cover;
	display:none;
}
.close_menu{
	margin-left:10%;
	margin-top:8%;
	
}
.close_menu button{
	width:20px;
	height:20px;
	background:url("../img/close.png") no-repeat center center;
	background-color:none;
	border:none;
	cursor:pointer;
}

.menu_inner{
	margin:0 18.3%;
	-border:1px solid red;
	overflow:hidden;
	padding:7% 0;
}
.menu li a{
	color:#fff;
	display:block;
	text-align:center;
}
.menu>li{
	float:left;
	width:25%;
}
.menu>li>a{
	font-size:1.5vw;
	font-family: 'YdestreetB';
	-border:1px solid #fff;
	padding:7% 0;
}
.submenu li a{
	padding:5% 0;
	color:#b5b5b5;
	font-size:1vw;
}
.submenu li{
	position:relative;
}
.submenu li.m_on::after{
	content:"";
	display:block;
	width:100%;
	height:60%;
	background-color:#fff;
	position:absolute;
	top:20%;
	left:0;
	z-index:-1;
}
.submenu li.m_on a{
	color:#000;
	font-weight:600;
}
.m_footer{
	margin-top:5%;
}

.f_left{
	float:left;
	color:#fff;
	margin-left:18.3%;
}
.f_right{
	float:right;
	margin-right:18.3%;
}
.mf_sns{
	display:block;
	float:left;
	margin-left:30px;
}
.mf_sns:nth-child(1){
	margin-top:2%;
}
.mf_sns:nth-child(3){
	margin-top:3%;
}

/* ===== contents top ===== */
#contop{
	width:100%;
	padding:20% 0;
	background:url("../img/article_titlebg.jpg") no-repeat center 30%;
	background-size:cover;
	position:relative;
}
.ct_text1{
	font-family:'YdestreetB';
	display:block;
	font-size:3vw;
	color:#fff;
}

.contop_bg{
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	top:0;
	left:0;
}

.ctb1{
	color:#fff;
	font-size:1vw;
	font-weight:400;
	position:absolute;
	top:30%;
	left:13.8%;
	line-height:1.4;
}
.ctb2{
	display:none;
}

/* ===== 페이지 수와 내용 검색 ===== */
#article_main{
	padding:0 15%;
	margin-top:7vw;
}

.am_top{
	border-bottom:1.5px solid #000;
	padding-bottom:4vw;
}

/* 페이지 */
.am_page{
	float:left;
	font-size:1vw;
	color:#7c7c7c;
	padding-top:1vw;
	
}
.ap_color{
	font-size:1vw;
	color:#000;
	font-weight:500;
}

/* 검색 */
.am_search{
	float:right;
	margin-top:0.5vw;

}
.menu_cate_wrap{
	float:left;
	position:relative;
	
}
.cate_text{
	width:8vw;
	height:2.2vw;
	border:1px solid #dbdbdc;
	box-sizing:border-box;
	padding:0.4vw 1vw;
	cursor:pointer;
	font-size:0.9vw;
	color:#706f6f;
	background:url("../img/cate_g.png") no-repeat 82% 55%;
	background-size:5% auto;
}
.cate_text.cateon{
	background:url("../img/cate_g_on.png") no-repeat 82% 55%;
	background-size:5% auto;
}
.menu_cate{
	border:1px solid #dbdbdc;
	box-sizing:border-box;
	border-top:none;
	display:none;
	position:absolute;
	z-index:50;
	width:100%;
}
.menu_cate li a{
	display:block;
	padding:0.6vw 1vw;
	font-size:0.9vw;
	color:#706f6f;
	background-color:#fff;

}
.menu_cate li a:hover{
	color:#002e73;
	font-weight:500;
}

input{
	float:left;
	display:block;
	margin-left:1vw;
	border:0.01vw solid #dbdbdc;
	box-sizing:border-box;
	padding:0 0.5vw;
	width:15vw;
	height:2.2vw;
	font-size:0.9vw;
}
.search_go{
	width:4vw;
	height:2.2vw;
	float:left;
	margin-left:0.5vw;
	background-color:#002e73;
	color:#fff;
	border:0.01vw solid #002e73;
	cursor:pointer;
	transition:background-color 0.2s;
	font-size:0.9vw;
}
.search_go:hover{
	background-color:#fff;
	border:0.01vw solid #002e73;
	box-sizing:border-box;
	color:#002e73;
	font-weight:500;
}

/* 기사 */
.article_wrap_m{
	display:none;
}

.article_top li{
	float:left;
	width:33.3%;
	height:28vw;
	box-sizing:border-box;
	padding:1vw 0.8vw;
}
.article_top li:nth-child(1){
	border-right:0.1vw solid #dbdbdc;
	border-bottom:0.1vw solid #dbdbdc;
}
.article_top li:nth-child(2){
	border-right:0.1vw solid #dbdbdc;
	border-bottom:0.1vw solid #dbdbdc;
}
.article_top li:nth-child(3){
	border-bottom:0.1vw solid #dbdbdc;
}

.article_bottom li{
	float:left;
	width:33.33%;
	height:30vw;
	box-sizing:border-box;
	padding:1vw 0.8vw;
}

.article_bottom li:nth-child(1){
	border-right:1px solid #dbdbdc;
	border-bottom:1.5px solid #000;
}
.article_bottom li:nth-child(2){
	border-right:1px solid #dbdbdc;
	border-bottom:1.5px solid #000;
}
.article_bottom li:nth-child(3){
	border-bottom:1.5px solid #000;
}

.article_wrap li a{
	display:block;
	width:100%;
	height:100%;
	border:1px solid #fff;
	box-sizing:border-box;
	padding:1vw;
}

.article_wrap li a:hover{
	border:1px solid #000;
	box-sizing:border-box;
}

.article_photo{
	width:100%;
	height:50%;
}

#article_photo1{
	background:url("../img/ap1.jpg") no-repeat 100% 10%;
	background-size:140% auto;
}
#article_photo2{
	background:url("../img/ap2.jpg") no-repeat 0 15%;
	background-size:150% auto;
}
#article_photo3{
	background:url("../img/ap3.png") no-repeat 50% 0%;
	background-size:110% auto;
}
#article_photo4{
	background:url("../img/ap4.png") no-repeat 30% 10%;
	background-size:120% auto;
}
#article_photo5{
	background:url("../img/ap5.jpg") no-repeat 55% 15%;
	background-size:140% auto;
}
#article_photo6{
	background:url("../img/ap6.jpg") no-repeat 70% 10%;
	background-size:110% auto;
}

.article_title{
	font-size:1vw;
	text-align:justify;
	font-weight:500;
	padding:1vw 0 1.5vw;
}
.article_text{
	font-size:0.9vw;
	text-align:justify;
	color:#616262;
	font-weight:300;
}
.article_date{
	font-size:0.9vw;
	color:#959495;
	font-weight:300;
	padding-top:2vw;
}

/* 다음 페이지 버튼*/
.next_article{
	width:9%;
	margin:5vw auto;
	border:1px solid #000;
	box-sizing:border-box;
}
.next_article a{
	display:block;
	text-align:center;
	padding:0.5vw 0;
	font-size:0.9vw;
}

.next_article a:hover{
	background-color:#002e73;
	color:#fff;
}


/* ===== footer ===== */
footer{
	background-color:#000;
	margin-top:10vh;
	padding:5vh 8vw;
}

footer span{
	color:#fff;
}
footer p{
	color:#fff;
}
footer a{
	color:#fff;
}
address{
	color:#fff;
	font-style:normal;
	font-size:0.8vw;
}
.ft_top{
	border-bottom:0.1vw solid #fff;
	overflow:hidden;
	padding-bottom:2vw;
}

.ft_left{
	float:left;
}
.ft_text1{
	font-size:1.8vw;
	font-weight:500;
}
.ft_text1 span{
	font-size:0.9vw;
}
.ft_text2{
	font-size:0.9vw;
	margin:1vw 0 1.8vw;
}

.ft_right{
	float:right;
	width:15vw;
	text-align:right;
	overflow:hidden;
	margin-top:8vh;
}
.gotop{
	cursor:pointer;
	width:3.2vw;
	height:3.2vw;
	background-color:#fff;
	color:#000;
	border:none;
	font-size:1.3vw;
	margin-bottom:3vw;
	transition:background-color 0.2s;
}
.gotop:hover{
	border:0.1vw solid #fff;
	color:#fff;
	background-color:#000;
}
.ft_sns li{
	float:left;
	width:33.33%;
}
.ft_sns li:first-child img{
	width:15%;
	height:auto;
}

.ft_sns li:not(:first-child) img{
	width:30%;
	height:auto;
}

.fb_link{
	float:left;
	margin-top:2vw;
}

.fb_link li{
	float:left;
	margin-right:2vw;
}

.fb_link li a{
	font-size:0.8vw;
	color:#fff;
}
.fb_link li:not(:first-child) a{
	color:#7c7c7c;
}

.fb_link li a:hover{
	color:#fff;
}

.copy{
	color:#fff;
	overflow:hidden;
	margin-top:2vw;
	float:right;
	font-size:0.8vw;
}



/* ==================== 반응형 ====================== */
@media all and (max-width:1300px){
	.h_inner{
		margin:0 8%;
	}
	#lang li a{
		color:#abaaaa;
		font-weight:300;
		font-size:1.4vw;
	}
	.ham{
		width:3%;
	}
	.mainlogo{
		width:12%;
	}

	/* ===== contents top ===== */
	#contop{
		width:100%;
		padding:25% 0;
		background:url("../img/article_titlebg.jpg") no-repeat center 30%;
		background-size:cover;
		position:relative;
	}
	.ct_text1{
		font-family:'YdestreetB';
		display:block;
		font-size:5vw;
		color:#fff;
	}

	.contop_bg{
		position:absolute;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.2);
		top:0;
		left:0;
	}
	.ctb1{
		display:none;
	}

	.ctb2{
		color:#fff;
		font-size:2vw;
		font-weight:400;
		position:absolute;
		top:25%;
		left:10%;
		line-height:1.4;
		display:block;
	}

	/* ===== 페이지 수와 내용 검색 ===== */
	#article_main{
		padding:0 10%;
		margin-top:7vw;
	}

	.am_top{
		border-bottom:1.5px solid #000;
		padding-bottom:6vw;
	}

	/* 페이지 */
	.am_page{
		float:left;
		font-size:1.8vw;
		color:#7c7c7c;
		padding-top:0.5vw;
		
	}
	.ap_color{
		font-size:1.8vw;
		color:#000;
		font-weight:500;
	}

	/* 검색 */
	.am_search{
		float:right;
		margin-top:0.5vw;

	}
	.menu_cate_wrap{
		float:left;
		position:relative;
		
	}
	.cate_text{
		width:13vw;
		height:3vw;
		border:1px solid #dbdbdc;
		box-sizing:border-box;
		padding:0.2vw 1.6vw;
		cursor:pointer;
		font-size:1.6vw;
		color:#706f6f;
		background:url("../img/cate_g.png") no-repeat 82% 55%;
		background-size:5% auto;
	}
	.cate_text.cateon{
		background:url("../img/cate_g_on.png") no-repeat 82% 55%;
		background-size:5% auto;
	}
	.menu_cate{
		border:1px solid #dbdbdc;
		box-sizing:border-box;
		border-top:none;
		display:none;
		position:absolute;
		z-index:50;
		width:100%;
	}
	.menu_cate li a{
		display:block;
		padding:0.6vw 1.6vw;
		font-size:1.6vw;
		color:#706f6f;
		background-color:#fff;

	}
	.menu_cate li a:hover{
		color:#002e73;
		font-weight:500;
	}

	input{
		float:left;
		display:block;
		margin-left:1vw;
		border:0.01vw solid #dbdbdc;
		box-sizing:border-box;
		padding:0 0.5vw;
		width:18vw;
		height:3vw;
		font-size:1.6vw;
	}
	.search_go{
		width:6vw;
		height:3vw;
		float:left;
		margin-left:0.5vw;
		background-color:#002e73;
		color:#fff;
		border:0.01vw solid #002e73;
		cursor:pointer;
		transition:background-color 0.2s;
		font-size:1.5vw;
	}
	.search_go:hover{
		background-color:#fff;
		border:0.01vw solid #002e73;
		box-sizing:border-box;
		color:#002e73;
		font-weight:500;
	}

	/* 기사 */

	.article_top li{
		float:left;
		width:33.3%;
		height:43vw;
		box-sizing:border-box;
		padding:1vw 0.8vw;
	}
	.article_top li:nth-child(1){
		border-right:0.1vw solid #dbdbdc;
		border-bottom:0.1vw solid #dbdbdc;
	}
	.article_top li:nth-child(2){
		border-right:0.1vw solid #dbdbdc;
		border-bottom:0.1vw solid #dbdbdc;
	}
	.article_top li:nth-child(3){
		border-bottom:0.1vw solid #dbdbdc;
	}

	.article_bottom li{
		float:left;
		width:33.33%;
		height:43vw;
		box-sizing:border-box;
		padding:1vw 0.8vw;
	}

	.article_bottom li:nth-child(1){
		border-right:1px solid #dbdbdc;
		border-bottom:1.5px solid #000;
	}
	.article_bottom li:nth-child(2){
		border-right:1px solid #dbdbdc;
		border-bottom:1.5px solid #000;
	}
	.article_bottom li:nth-child(3){
		border-bottom:1.5px solid #000;
	}

	.article_wrap li a{
		display:block;
		width:100%;
		height:100%;
		border:1px solid #fff;
		box-sizing:border-box;
		padding:1vw;
	}

	.article_wrap li a:hover{
		border:1px solid #000;
		box-sizing:border-box;
	}

	.article_photo{
		width:100%;
		height:45%;
	}

	#article_photo1{
		background:url("../img/ap1.jpg") no-repeat 100% 10%;
		background-size:150% auto;
	}
	#article_photo2{
		background:url("../img/ap2.jpg") no-repeat 0 15%;
		background-size:160% auto;
	}
	#article_photo3{
		background:url("../img/ap3.png") no-repeat 50% 0%;
		background-size:130% auto;
	}
	#article_photo4{
		background:url("../img/ap4.png") no-repeat 30% 10%;
		background-size:120% auto;
	}
	#article_photo5{
		background:url("../img/ap5.jpg") no-repeat 55% 15%;
		background-size:140% auto;
	}
	#article_photo6{
		background:url("../img/ap6.jpg") no-repeat 70% 10%;
		background-size:110% auto;
	}

	.article_title{
		font-size:1.6vw;
		text-align:justify;
		font-weight:500;
		padding:1vw 0 1.5vw;
	}
	.article_text{
		font-size:1.3vw;
		text-align:justify;
		color:#616262;
		font-weight:300;
	}
	.article_date{
		font-size:1.3vw;
		color:#959495;
		font-weight:300;
		padding-top:2vw;
	}

	/* 다음 페이지 버튼*/
	.next_article{
		width:12%;
		margin:5vw auto;
		border:1px solid #000;
		box-sizing:border-box;
	}
	.next_article a{
		display:block;
		text-align:center;
		padding:0.8vw 0;
		font-size:1.3vw;
	}

	.next_article a:hover{
		background-color:#002e73;
		color:#fff;
	}


	/* ===== footer ===== */
	footer{
		background-color:#000;
		margin-top:3vw;
		padding:5vw 8vw;
		z-index:1;
		position:relative;
	}
	address{
		color:#fff;
		font-style:normal;
		font-size:1.2vw;
	}
	.ft_text1{
		font-size:2vw;
		font-weight:500;
	}
	.ft_text1 span{
		font-size:1.2vw;
	}
	.ft_text2{
		font-size:1.2vw;
		margin:1vw 0 1.8vw;
	}
	.fb_link li a{
		font-size:1.2vw;
		color:#fff;
	}
	.copy{
		color:#fff;
		overflow:hidden;
		margin-top:2vw;
		float:right;
		font-size:1.2vw;
	}
	.ft_right{
		float:right;
		width:17vw;
		text-align:right;
		overflow:hidden;
		margin-top:8vh;
	}
}

@media all and (max-width:767px){
	header{
		width:100%;
		padding:1.2% 0;
		position:absolute;
	}
	.h_inner{
		margin:0 8%;
	}
	#lang li a{
		color:#abaaaa;
		font-weight:300;
		font-size:1.4vw;
	}
	.ham{
		width:6%;
		float:right;
		margin-top:12px;
	}
	.mainlogo{
		width:20%;
		float:left;
		margin-left:0;
		margin-top:0;
	}
	#lang{
		display:none;
	}

	/* 메인 메뉴 */
	.menu>li{
		float:none;
		width:100%;
		margin-bottom:15px;
	}
	.menu>li>a{
		font-size:18px;
		padding:5% 0 2%;
	}
	.submenu li a{
		padding:3% 0;
		font-size:15px;
	}
	.m_footer{
		margin-top:0%;
	}
	.f_left{
		float:none;
		font-size:15px;
		width:100%;
		text-align:center;
		margin-left:0;
	}
	.f_right{
		float:none;
		width:40%;
		height:50px;
		margin:20px auto 0;
		overflow:hidden;
	}
	.mf_sns{
		margin-left:0;
		width:33.3%;
		height:100%;
		text-align:center;

	}
	.mf_sns img{
		width:30%;
		height:auto;
	}
	.mf_sns:nth-child(1){
		margin-top:0;
		
	}
	.mf_sns:nth-child(1) img{
		width:15%;
		height:auto;
	}
	.mf_sns:nth-child(3){
		margin-top:0;
	}
	.at_left{
		top:32%;
	}

	address{
		color:#fff;
		font-style:normal;
		font-size:1.2vw;
	}
	.ft_text1{
		font-size:2vw;
		font-weight:500;
	}
	.ft_text1 span{
		font-size:1.2vw;
	}
	.ft_text2{
		font-size:1.2vw;
		margin:1vw 0 1.8vw;
	}
	.fb_link li a{
		font-size:1.2vw;
		color:#fff;
	}
	.copy{
		color:#fff;
		overflow:hidden;
		margin-top:2vw;
		float:right;
		font-size:1.2vw;
	}
	.ft_right{
		float:right;
		width:17vw;
		text-align:right;
		overflow:hidden;
		margin-top:8vh;
	}

	/* ===== contents top ===== */
	#contop{
		width:100%;
		padding:45% 0;
		background:url("../img/article_titlebg.jpg") no-repeat 10% 30%;
		background-size:cover;
		position:relative;
	}
	.ct_text1{
		font-family:'YdestreetB';
		display:block;
		font-size:6vw;
		color:#fff;
	}

	.contop_bg{
		position:absolute;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.2);
		top:0;
		left:0;
	}
	.ctb1{
		display:none;
	}

	.ctb2{
		color:#fff;
		font-size:3vw;
		font-weight:400;
		position:absolute;
		top:20%;
		left:10%;
		line-height:1.4;
		display:block;
	}

	/* ===== 페이지 수와 내용 검색 ===== */
	#article_main{
		padding:0 10%;
		margin-top:9vw;
	}

	.am_top{
		border-bottom:1.5px solid #000;
		padding-bottom:10vw;
	}

	/* 페이지 */
	.am_page{
		display:none;	
	}

	/* 검색 */
	.am_search{
		float:left;
		margin-top:0.5vw;
		width:100%;
	}
	.menu_cate_wrap{
		float:left;
		position:relative;
		width:30%;
	}
	.cate_text{
		width:100%;
		height:6vw;
		border:1px solid #dbdbdc;
		box-sizing:border-box;
		padding:0.8vw 2.2vw;
		cursor:pointer;
		font-size:2.6vw;
		color:#706f6f;
		background:url("../img/cate_g.png") no-repeat 88% 55%;
		background-size:7% auto;
	}
	.cate_text.cateon{
		background:url("../img/cate_g_on.png") no-repeat 88% 55%;
		background-size:7% auto;
	}
	.menu_cate{
		border:1px solid #dbdbdc;
		box-sizing:border-box;
		border-top:none;
		display:none;
		position:absolute;
		z-index:50;
		width:100%;
	}
	.menu_cate li a{
		display:block;
		padding:1vw 2.2vw;
		font-size:2.6vw;
		color:#706f6f;
		background-color:#fff;

	}
	.menu_cate li a:hover{
		color:#002e73;
		font-weight:500;
	}

	input{
		float:left;
		display:block;
		margin-left:2%;
		border:0.01vw solid #dbdbdc;
		box-sizing:border-box;
		padding:0 0.5vw;
		width:50%;
		height:6vw;
		font-size:2.6vw;
	}
	.search_go{
		width:16%;
		height:6vw;
		float:left;
		margin-left:2%;
		background-color:#002e73;
		color:#fff;
		border:0.01vw solid #002e73;
		cursor:pointer;
		transition:background-color 0.2s;
		font-size:1.5vw;
	}
	.search_go:hover{
		background-color:#fff;
		border:0.01vw solid #002e73;
		box-sizing:border-box;
		color:#002e73;
		font-weight:500;
	}

	/* 기사 */
	.article_wrap{
		display:none;
	}
	.article_wrap_m{
		display:block;
		padding:0 10%;
		
	}

	.article_list li{
		border-bottom:1px solid #dbdbdc;
		padding:3vw 0; 
	}
	.article_title{
		font-size:2.8vw;
		font-weight:500;
	}
	.article_text{
		font-size:2.4vw;
	}
	.article_date{
		font-size:2.4vw;
	}

	.next_article{
		width:30%;
		margin:8vw auto 0;
		border:1px solid #000;
		box-sizing:border-box;
	}
	.next_article a{
		display:block;
		text-align:center;
		padding:1.5vw 0;
		font-size:2.4vw;
	}

	.next_article a:hover{
		background-color:#002e73;
		color:#fff;
	}

	/* ===== footer ===== */
	footer{
		background-color:#000;
		margin-top:20vw;
		padding:5vw 8vw;
		z-index:1;
		position:relative;
	}
	address{
		color:#fff;
		font-style:normal;
		font-size:2vw;
	}
	.ft_text1{
		font-size:2.4vw;
		font-weight:500;
	}
	.ft_text1 span{
		font-size:2vw;
	}
	.ft_text2{
		font-size:2vw;
		margin:1vw 0 1.8vw;
	}
	.fb_link li a{
		font-size:1.2vw;
		color:#fff;
	}
	.copy{
		color:#fff;
		overflow:hidden;
		margin-top:2vw;
		float:right;
		font-size:1.2vw;
	}
	.ft_top{
		border-bottom:none;
		overflow:hidden;
		padding-bottom:2vw;
	}
	.ft_right{
		width:17vw;
		text-align:right;
		overflow:hidden;
		margin-top:8vh;
		float:none;
		display:none;
	}
	.gotop{
		cursor:pointer;
		width:4vw;
		height:4vw;
		background-color:#fff;
		color:#000;
		border:none;
		font-size:1.3vw;
		margin-bottom:3vw;
		transition:background-color 0.2s;
		display:block;
	}
	.fb_link{
		float:left;
		margin-top:2vw;
		display:none;
	}
	.copy{
		color:#fff;
		overflow:hidden;
		margin-top:2vw;
		float:left;
		font-size:2vw;
		border-top:1px solid #fff;
		width:100%;
		padding-top:1.5vw;
	}
}